<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
      <el-container>
          <el-header>
            <div>
            <el-menu class="nav" 
            mode="horizontal" 
            active-text-color="#ffd04b"
            background-color="#545c64"
            text-color="#fff"
            >
            <el-menu-item index="1">One-Click One-Money</el-menu-item>
            <el-menu-item index="2" v-show="option1" @click="opt1">FORMULARIO</el-menu-item>
            <el-menu-item index="3" v-show="option2" @click="opt2">DASHBOARD</el-menu-item>
            <el-menu-item index="4" v-show="logout"  type="text" plain @click="apagar" style="float:right" enabled>LOGOUT</el-menu-item>
            
            </el-menu>
            </div>
          </el-header>
          <el-main>
          <!-- Aqui inicia el main -->
          <br>
          <!--Inicia Login form-->
          <div class="log" v-show="logueo">
              <h1>Login</h1>
          <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="120px" class="demo-ruleForm">
           
            <el-form-item label="User" prop="user">
              <el-input type="user" v-model="ruleForm2.user" autocomplete="off"></el-input>
            </el-form-item>
           
            <el-form-item label="Password" prop="pass">
              <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item>
              <el-button type="success" plain @click="submitForm('ruleForm2')" >Submit</el-button>
              <el-button type="primary" plain @click="resetForm('ruleForm2')">Reset</el-button>
            </el-form-item>
            <br>
          </el-form>
        </div>
          <!--Termina Login form-->

          <!--Inicia formulario form-->
          <div class="formulario" v-show="formshow">
              <br>
              <h1 style="color: #409EFF" style="font-size:xx-large">New register</h1>
              <br>
              <el-form :model="ruleForm3" :rules="rules3" ref="ruleForm3" label-width="120px" class="demo-ruleForm">
                  <el-form-item label="Name" prop="name">
                    <el-input v-model="ruleForm3.name"></el-input>
                  </el-form-item>
                  <el-form-item label="Lastname" prop="last">
                    <el-input v-model="ruleForm3.last"></el-input>
                  </el-form-item>
                  <el-form-item label="Select City" prop="city">
                    <el-select v-model="ruleForm3.city" placeholder="City">
                      <el-option label="Panamá" value="panama"></el-option>
                      <el-option label="Other" value="other"></el-option>
                    </el-select>
                  </el-form-item>
                  
                  <el-form-item label="Status Active" prop="status">
                    No
                    <el-switch v-model="ruleForm3.status"></el-switch>
                    Yes
                  </el-form-item>

                  <el-form-item label="Sex" prop="sex">
                    <el-radio-group v-model="ruleForm3.sex">
                      <el-radio label="Male"></el-radio>
                      <el-radio label="Female"></el-radio>
                      <el-radio label="Other"></el-radio>
                    </el-radio-group>
                  </el-form-item>
                  <el-form-item label="Delivery Address" prop="address">
                    <el-input type="textarea" v-model="ruleForm3.address"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="submitForm3('ruleForm3')">Create</el-button>
                    <el-button @click="resetForm3('ruleForm3')">Reset</el-button>
                  </el-form-item>
                </el-form>

          </div>
          <!--Termina formulario form-->

          <!--Inicia dashboard form-->
          <div id="tabla" v-show="dashboard">
            <h1 style="color: #409EFF" style="font-size:xx-large">Dashboard</h1>
            <template>
                        <!--TEST SEARCH-->
                        <div>
                            <el-select
                            v-model="value9"
                            multiple
                            filterable
                            remote
                            reserve-keyword
                            placeholder="Please enter a keyword"
                            :remote-method="remoteMethod"
                            :loading="loading">
                            <el-option
                              v-for="item in tableData"
                              :key="item.value"
                              :label="item.label"
                              :value="item.value">
                            </el-option>
                          </el-select>
                        </div>
            <!--TEST SEARCH-->
            </template>
              </br>
              </br></br>
            <template>
                <el-table :data="tableData" style="width: 100%">
                  <el-table-column
                    fixed
                    v-model="name"
                    prop="name"
                    label="Name"
                    width="auto">
                  </el-table-column>
                  <el-table-column
                    prop="last"
                    v-model="last"
                    label="Lastname"
                    width="auto">
                  </el-table-column>
                  <el-table-column
                    prop="city"
                    v-model="city"
                    label="City"
                    width="auto">
                  </el-table-column>
                  <el-table-column
                    prop="status"
                    v-model="status"
                    label="Status"
                    width="auto">
                  </el-table-column>
                  <el-table-column
                  prop="sex"
                  v-model="sex"
                  label="Sex"
                  width="auto">
                </el-table-column>
                  <el-table-column
                    prop="address"
                    v-model="address"
                    label="Delivery Address"
                    width="auto">
                  <template slot-scope="scope">
                  <el-button
                    @click.native.prevent="deleteRow(scope.$index, tableData)"
                    type="text"
                    size="small">
                    Eliminar
                  </el-button>
                  </template>
                  </el-table-column>
                </el-table>
              </template>
              </div>
              <!--Termina Login form-->


              <!-- Aqui termina el main -->
          </el-main>
          <el-footer><el-menu class="nav">FOOTER</el-menu></el-footer>
        </el-container>
        
  </div>
</body>

  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <script>
  new Vue({
      el: '#app',
      data: function() {

      var validateUser = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please input the user'));
        } else {
          callback();
        }
      };

      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please input the password'));
        } else {
          callback();
        }
      };

      return { 
        id: "",
        name: "",
        price: "",
        desc: "",
        last: "",
        city: "",
        status: "",
        sex: "",
        address: "",

        User: "Oliver",
        Pass: "1234",
        dashboard: false,
        logueo: true,
        logout: false,
        option1: false,
        option2: false,
        formshow: false,
        options4: [],
        value9: [],
        list: [],
        loading: false,
        
        tableData: [],
        searchFilterText: ['name'],
        tableClone: [],

        ruleForm2: {
          user: '',
          pass: '',
        },
        rules2: {
          user: [
            { validator: validateUser, trigger: 'blur' }
          ],
          pass: [
            { validator: validatePass, trigger: 'blur' }
          ]
        },

        ruleForm3: {
          name: '',
          city: '',
          status: false,
          sex: '',
          address: ''
        },
        rules3: {
          name: [
            { required: true, message: 'Please input name', trigger: 'blur' },
            { min: 3, max: 15, message: 'Length should be 3 to 15', trigger: 'blur' }
          ],
          last: [
            { required: true, message: 'Please input lastname', trigger: 'blur' },
            { min: 3, max: 15, message: 'Length should be 3 to 15', trigger: 'blur' }
          ],
          city: [
            { required: true, message: 'Please select a city', trigger: 'change' }
          ],

          sex: [
            { required: true, message: 'Please select a sex', trigger: 'change' }
          ],
          address: [
            { required: true, message: 'Please input activity form', trigger: 'blur' }
          ] 
          },

        }
        }, //Aqui termina la funcion data

        mounted: function () {
          this.tableClone = this.tableData;
        },

        methods: {
          addItem: function () { //agregar campos insertados
            this.tableData.push({ 
              id: this.id,
              name: this.name,
              price: this.price,
              desc: this.desc
            })
         
          },
          newReg: function () { //agregar campos insertados
            this.tableData.push({ 
              name: this.ruleForm3.name,
              last: this.ruleForm3.last,
              city: this.ruleForm3.city,
              status: this.ruleForm3.status,
              sex: this.ruleForm3.sex,
              address: this.ruleForm3.address
            })
            console.log(this.tableData);
          },

            cambiarEstado: function() {
                this.formshow = !this.formshow;
                this.logout = !this.logout;
                this.logueo = !this.logueo, this.option1 =!this.option1, this.option2 = !this.option2
            },
            opt1: function() { //hablitar boton formulario
                this.formshow = true;
                this.dashboard = false;
            },
            opt2: function() { //habilitar boton dash
                this.dashboard = true;
                this.formshow = false;
            },
            submitForm(formName) {  //validacion de usuario
            this.$refs[formName].validate((valid) => {
              if (valid && this.ruleForm2.user == this.User && this.ruleForm2.pass == this.Pass) {
                alert('Welcome back!');
                this.cambiarEstado();
                console.log('submit!!');
              } else {
                alert('no submit! ivalid user or password');
                console.log('error submit!!');
                return false;
              }
                });
              },
              resetForm(formName) {
                this.$refs[formName].resetFields();
              },
              apagar: function() {
                this.formshow = false, this.dashboard = false, this.resetForm('ruleForm2')
                this.option1 = false, this.option2 = false, this.logout = false, this.logueo = true;
              },
              
              submitForm3(formName) {
                this.$refs[formName].validate((valid) => {
                if (valid) {
                  alert('submit!');


                  console.log(this.tableData);
                } else {
                  console.log('error submit!!');
                  return false;
                }
                });
        
                },
    
              remoteMethod(query) {
              if (query !== '') {
                this.loading = true;
                setTimeout(() => {
                  this.loading = false;
                  this.options4 = this.list.filter(item => {
                    return item.label.toLowerCase()
                      .indexOf(query.toLowerCase()) > -1;
                        });
                      }, 200);
                    } else {
                      this.options4 = [];
                  }
                },    
                resetForm3(formName) {
                  this.$refs[formName].resetFields();
                },
                deleteRow(index, rows) {
                rows.splice(index, 1);
                }
                },
      
                })
  </script>

  
<style>
    .el-header, .el-footer , .nav{
      background-color: #545c64;
      color:#fff;
      text-align:center;

      line-height: 30px;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    .el-main {
      background-color: #E9EEF3;
      color: #333;
      position: relative;
      bottom: 0;
      width: 100%;
      height: 2000px;
    }
    
    .el-footer {
      position: relative;
      bottom: 0;
      width: 100%;
      height: 60px;
    }
    .log {
      margin-right: 30%;
      margin-left: 20%;
      text-align: center;
    }
    .formulario {
      margin-right: 20%;
      margin-left: 20%;
      text-align: center;
    }
  </style>
</html>

